<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controllers.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordController</servlet-name>
        <servlet-class>controllers.PasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Filter</servlet-name>
        <servlet-class>admin.Filter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Del_Controller</servlet-name>
        <servlet-class>controllers.Add_Del_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controllers.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMarker</servlet-name>
        <servlet-class>controllers.AddMarker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMarker</servlet-name>
        <servlet-class>controllers.DeleteMarker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlertController</servlet-name>
        <servlet-class>controllers.AlertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RandomMarker</servlet-name>
        <servlet-class>controllers.RandomMarker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MediaController</servlet-name>
        <servlet-class>controllers.MediaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordController</servlet-name>
        <url-pattern>/PasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Filter</servlet-name>
        <url-pattern>/Filter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Del_Controller</servlet-name>
        <url-pattern>/Add_Del_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMarker</servlet-name>
        <url-pattern>/AddMarker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMarker</servlet-name>
        <url-pattern>/DeleteMarker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RandomMarker</servlet-name>
        <url-pattern>/RandomMarker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MediaController</servlet-name>
        <url-pattern>/MediaController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
